<div class="beef">
  {{#if user}}
  <div class="d-flex justify-content-between">
    <div class="col-5 mx-0 px-0">
      <div class="column-title">
        <h1>Beef</h1>
      </div>
      <div class="columns-container">
        <div class="posts">
          <div class="chat scroll" id='public-feed'></div>
          {{!-- <button type="button" id='scroll-down' onclick="scrollDown()">Bottom</button> --}}
          <div class="new-post">
            <div class="row">
              <div class="col-2">
                <div class="nav flex-column nav-pills col" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                  <a class="nav-link active" id="v-pills-post-tab" data-toggle="pill" href="#v-pills-post" role="tab"
                    aria-controls="v-pills-post" aria-selected="true">Post</a>
                  <a class="nav-link" id="v-pills-comments-tab" data-toggle="pill" href="#v-pills-comments" role="tab"
                    aria-controls="v-pills-comments" aria-selected="false">Comment</a>
                  <a class="nav-link" id="v-pills-beef-tab" data-toggle="pill" href="#v-pills-beef" role="tab"
                    aria-controls="v-pills-beef" aria-selected="false">Beef Mode</a>
                </div>
              </div>
              <div class="col-10">
                <div class="tab-content" id="v-pills-tabContent">
                  <div class="tab-pane fade show active" id="v-pills-post" role="tabpanel"
                    aria-labelledby="v-pills-post-tab">
                    <form class="row" id="theForm" action="/api/posts" id="np-submit" method="POST"
                      enctype="multipart/form-data">
                      <div class="col-9 new-post-inputs">
                        <input class="title-input" type="text" name="title" placeholder="Post Title:" required
                          id='theTitle'>
                        <textarea class="content-input" type="" name="content" placeholder="Post Content:" required
                          id='theContent'></textarea>
                      </div>
                      <div class="col-3 px-0">
                        <input class="d-none" type="file" id="theFile" name="theFile" />
                        <label for="theFile" class="btn-2"><i class="fas fa-camera"></i></label>
                        <button class="btn btn-light">Create Post</button>
                      </div>
                    </form>
                  </div>
                  <div class="tab-pane fade" id="v-pills-comments" role="tabpanel"
                    aria-labelledby="v-pills-comments-tab">
                  </div>
                  <div class="tab-pane fade" id="v-pills-beef" role="tabpanel" aria-labelledby="v-pills-beef-tab">
                    ...</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-3 mx-0 px-0">
      <div class="messages ">
        <div class="column-title">
          <h1>Direct messages:</h1>
        </div>
        <div class="columns-container">
          <div class="direct-message">
            <h1>User 1</h1>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consectetur aperiam veniam iusto asperiores
              debitis eos inventore obcaecati corrupti suscipit, odit architecto dolore voluptates ad, laborum rerum
              explicabo harum autem est.</p>
          </div>
          <div class="direct-message">
            <h1>User 2</h1>
          </div>
          <div class="direct-message">
            <h1>User 3</h1>
          </div>
          <div class="direct-message">
            <h1>User 4</h1>
          </div>
          <div class="direct-message">
            <h1>User 5</h1>
          </div>
        </div>
      </div>
    </div>
    <div class="col-3 mx-0 px-0 profile">
      <div class="column-title">
        <h1>Profile</h1>
      </div>
      <div class="columns-container">
        <div class="header">
          <img
            src="https://images.unsplash.com/photo-1444838639505-f9042c5d2386?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80"
            alt="" height="100%" width="100%;">
          <div class="image-container">
            <form action="/api/users/me" method="POST">
              {{!-- <input type="file" name="profilePicture"> --}}
              {{!-- <button>send</button> --}}
            </form>
            <img class="avatar" src="{{user.avatar}}" alt="">
          </div>
        </div>
        <div class="user-info">
          <div class="container-fluid d-flex justify-content-center">
            <h1 class="username">@{{user.username}}</h1>
          </div>
        </div>
        <div id='map'></div>
      </div>
    </div>
    <div class="col-1 mx-0 px-0">
      <div class="columns-container d-flex flex-column">
        <div class="side-nav">
          <a class="nav-link" href="/beef">Beef <br> <i class="fas fa-home"></i></a>
          <a class="nav-link" href="/login">Login <br> <i class="fas fa-sign-in-alt"></i></a>
          <a class="nav-link" href="/signup">Signup <br> <i class="fas fa-user-plus"></i></a>
          <a class="nav-link" href="/beef">Config <br> <i class="fas fa-cog"></i></a>
          <a class="nav-link" href="/signup">Signup <br> <i class="fas fa-user-plus"></i></a>
          <form action="/api/logout" method="POST" id="my_form">
            <button type="submit" class="nav-link btn">Logout <br> <i class="fas fa-sign-out-alt"></i></button>
          </form>
        </div>
      </div>
    </div>
  </div>
  {{else}}
  <h1>{{title}}</h1>
  <p>Welcome to {{title}}</p>

  {{/if}}
</div>